---
import Testimonials from "../components/Testimonials.astro";
import AddTestimonial from "../components/AddTestimonial.astro";
import "../css/testimonial.css";
import "../css/burgermenu.css";
import "../css/style.css";
import"../css/styleSofy.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Royalescape</title>
  </head>

  <body>
    <Header />
    <div class="container">
      <video loop autoplay muted controls>
      <source src="/kampangevideo.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
    </div>

    <main>

      <div class="gråbox">
        <div class="box">
         <p>Løs mysteriet og få 20% rabat</p>
        </div>
        </div>
      <div class="thequeen">
        <img src="/drønningpåtronen.jpg" alt="queen" style="width :100%"/>
      <div class="thequeentext">
        <p>
          <div class="queen1">Har du lyst til at tage dine nærmeste med på eventyr ?</div>

<div class="queen2">Har du lyst til at lokke dem med en udfordring dag ,  og have det sjovt sammen?</div>

<div class="queen4">Vi har en mysterium, der skal løses, klar til jer!</div>

Vi har fundet på mystiske gåder som i skal løse sammen.
<div class="queen3">Spillet begynder ved Marmorkirken , 

i hjertet af Copenhagen .</div> 

Det eneste, at i skal tage med, er en mobil telefon  , hvor i kan tilmelde jer og starte spillet .
  
<div class="queen5">Når i kommer til at løse gåderne , får i 20% rabat , 

som i kan bruge til at spille hos Royal Escape Room Copenhagen .</div></p>
      </div>
      </div>

      <div class="slideshow-container">
        <Testimonials />
      </div>

      <div class="kasse">
        <div class="mySlides fade">
          <img class="slide" src="/dronning.webp" style="width: 100%" />
        </div>

        <div class="mySlides fade">
          <img class="slide" src="/dødningehoveder.webp" style="width: 100%" />
        </div>

        <div class="mySlides fade">
          <img class="slide" src="/maleri.webp" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img class="slide" src="/krone.webp" style="width: 100%" />
        </div>

        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
      <div class="gallerygrid">
        <img class="image" src="/dronning.webp" />
        <div class="image"></div>
        <img class="image" src="/maleri.webp" />
        <img class="image" src="/krone.webp" />
      </div>

      <AddTestimonial />

      <script src="../js/testimonial.js"></script>
      <script src="../js/billeder.js"></script>
      <script src="../js/burgermenu.js"></script>
    </main>

    <Footer />
  </body>
</html>
