---
import "../css/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Royalescape</title>
  </head>

  <body>
    <Header />
    <main>
      <div class="form-container"></div>
      <div class="formbox">
        <form>
          <label for="name">Navn:</label>
          <input placeholder="Jens" type="text" />
          <label for="slogan">Efternavn:</label>
          <input placeholder="Jensen" type="text" />
          <label for="E-mail">jensjensen@mail.dk</label>
          <input placeholder="Jensen" type="text" />

          <button type="submit">Start</button>
        </form>
      </div>
    </main>
    <Footer />
  </body>
</html>
