<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Royalescape</title>
  </head>

  <body>
    <h1>Royal Escape</h1>
    <div class="form-container"></div>
    <div class="formbox">
      <form action="">
        <label for="name">Name:</label>
        <input placeholder="Tinder" type="text" />
        <label for="slogan">Slogan:</label>
        <input placeholder='"Start Swiping"' type="text" />
        <label for="">Category:</label>

        <label for="description">Description:</label><textarea placeholder="Max 200 characters (with spaces)" name="" rows="5" id="" cols="30" rows="10"></textarea>
        <label for="founded">Founded:</label>
        <input type="date" />
        <label for="free">Free to use:</label>
        <input type="checkbox" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
