---
const { link, text, variant } = Astro.props;
---

<a class={variant} href={link}>{text}</a>

<style>
  a {
    background-color: #ef9786;
    color: black;
    font-family: var(--s_font);
    font-size: 18px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
  }
  a:visited {
    color: black;
  }

  .grey {
    background-color: #5a5656;
    color: white;
    border: solid white;
    width: fit-content;
    justify-self: center;

    font-family: var(--s_font);
    font-size: 18px;
    text-decoration: none;
  }
</style>
