---
import "../css/footer.css";
---

<footer>
  <p class="display_none_mobile">Royal Escapes, Copenhagen</p>
  <div class="adress">
    <!-- target="_blank" sætter linket til at åbne i et nyt faneblad-->
    <a class="footer_el" href="https://www.google.com/maps/place/Royal+Escapes/@55.6866325,12.5882546,15.72z/data=!4m6!3m5!1s0x465253f02220d4b9:0xe64c6b91367cf407!8m2!3d55.6861147!4d12.5898161!16s%2Fg%2F11mxbdzkfc" target="_blank">
      <img class="display_none_mobile" src="/house_icon.svg" alt="hus icon" />
      <p><span class="display_none_pc">Royal Escapes, Copenhagen.</span> Fredericiagade 30, 1310 København K</p>
    </a>
  </div>
  <div class="some footer_el">
    <a href=""><img src="/facebook_icon.svg" alt="facebook icon" /></a>
    <a href=""><img src="/instagram_icon.svg" alt="instagram icon" /></a>
  </div>
  <div class="mail footer_el">
    <img src="/mail_icon.svg" alt="mail icon" />
    <p>info@royalescapes.dk</p>
  </div>
</footer>
