---
import "../css/burgermenu.css";
---

<header>
  <figure class="logo">
    <a href="https://www.royalescapes.dk">
      <img src="/royal_escapes.png" alt="Royal Escapes logo" />
    </a>
  </figure>
  <nav id="main_menu">
    <button class="toggle_button display_none_pc">
      <img class="open_menu menu_icon" src="/burgermenu_icon.svg" alt="menu icon" />
      <img class="close_menu menu_icon" src="/exit_icon.svg" alt="menu icon" />
    </button>
    <ul class="ul_menu">
      <li><a href="https://www.royalescapes.dk">Forside</a></li>
      <li><a href="https://www.royalescapes.dk/dk/escape-rooms/">Escape rooms</a></li>
      <li><a href="/" id="on_site">Kampange</a></li>
      <li><a href="https://www.royalescapes.dk/dk/gavekort">Gavekort</a></li>
      <li><a href="https://www.royalescapes.dk/dk/om-royal-escapes">Om os</a></li>
      <li><a href="https://www.royalescapes.dk/dk/kontakt-royal-escapes">Kontakt os</a></li>
    </ul>
  </nav>
</header>
