---
const { data } = Astro.props;
import Button from "./Button.astro";

function getFirstNChars(str, length) {
  return str.substring(0, length);
}

import "../css/testimonial.css";
---

<div class="slideShow fade">
  <h2>{data.name}</h2>
  <p>
    {getFirstNChars(data.description, 120)}...
  </p>
  <Button text="Læs mere" link={"testimonials/" + data.id} />
</div>

<style>
  h2 {
    color: #ef9786;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: var(--main_font);
  }

  p {
    font-size: 20px;
    margin: auto;
    margin-bottom: 30px;
    font-family: var(--main_font);
    max-width: 90%;
  }
  @media (min-width: 800px) {
    p {
      max-width: 65ch;
    }
  }
</style>
