.logo img {
  max-height: 38px;
}
.logo {
  margin-left: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

#main_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
}

.active {
  box-shadow: -10px 10px 10px #efefef;
  padding: 5px;
}

.toggle_button {
  border: none;
  background-color: white;
}

.menu_icon {
  max-width: 50px;
  margin-left: 83%;
}

.ul_menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* width: 180px; */
  margin: 20px 0px;
}

.ul_menu li {
  margin-top: 20px;
}

.ul_menu a {
  text-decoration: none;
  color: #505050;
  font-size: 1rem;
  text-transform: uppercase;
}

.ul_menu a:hover {
  color: #ca5656;
}

#on_site {
  color: #ca5656;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 939px) {
  .no_show {
    display: none;
  }
  .logo img {
    max-height: 80px;
  }
  .logo {
    margin-left: 0.5%;
  }
  .ul_menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    text-align: center;
    margin-right: 25px;
  }
  .ul_menu a {
    font-size: 0.8rem;
  }
  #main_menu {
    width: auto;
    height: 55px;
  }
}
