@font-face {
  font-family: "OpenSans";
  src: url("/OpenSans-VariableFont.ttf");
}
@font-face {
  font-family: "Dosis";
  src: url("/Dosis-VariableFont.ttf");
}

html {
  --main_font: "OpenSans";
  --s_font: "Dosis";
}

a {
  font-family: var(--main_font);
}

p {
  font-family: var(--main_font);
}
