.gråbox {
  font-family: Dosis;
  font-size: 65px;
  background-color: rgba(241, 241, 241, 1);
  height: 250px;
  text-align: center;
}

.thequeen {
  background-image: url("/drønningpåtronen.webp");
  background-size: cover;
  aspect-ratio: 1441/844;
  height: 100%;
  width: 100%;
}

.thequeentext {
  color: white;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
  font-family: Dosis;
  font-size: 1.2rem;
  line-height: 27px;
  padding-top: 550px;
  max-width: 1000px;
}

.queen2,
.queen3,
.queen4,
.queen5 {
  margin-bottom: 10px;
  text-align: center;
}

.queen5 {
  margin-top: 20px;
  text-align: center;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(241, 241, 241, 1);
  max-width: 100%;
  height: auto;
}

.container {
  display: block;
  overflow: hidden;
  height: 850px;
  width: 100%;
  margin-top: 5px;
  background-color: rgba(241, 241, 241, 1);
}

video {
  max-width: 100%;
  height: auto;
}
