.gråbox {
  font-family: Dosis;
  font-size: 60px;
  background-color: rgba(241, 241, 241, 1);
  text-align: center;
}
.gråbox p {
  padding-top: 50px;
}
#firstLottie {
  margin: auto;
  width: 280px;
  height: 280;
  margin-left: 34%;
  cursor: hover;
}

.thequeentext {
  color: black;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
  font-family: Dosis;
  font-size: 1.2rem;
  line-height: 27px;
  padding: 20px 0;
  max-width: 1000px;
}

.queen2,
.queen3,
.queen4 {
  margin-bottom: 10px;
  text-align: center;
}

.queen5 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.knap {
  padding-bottom: 20px;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(241, 241, 241, 1);
  max-width: 100%;
  height: auto;
}

.container {
  display: block;
  overflow: hidden;
  aspect-ratio: 1560/850;
  height: 100%;
  width: 100%;
  margin-top: 5px;
  background-color: rgba(241, 241, 241, 1);
}

video {
  max-width: 100%;
  height: auto;
}
@media (min-width: 800px) {
  .thequeen {
    background-image: url("/drønningpåtronen.webp");
    background-size: cover;
    aspect-ratio: 1441/844;
    height: 100%;
    width: 100%;
  }
  .thequeentext {
    color: white;
    padding-top: 35%;
  }
  #firstLottie {
    width: 400px;
    height: 400px;
    margin-left: 42.5%;
  }
}
